.App {
  max-width: 100%;
}

.navbar {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.navbar ul {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  width: 100%;
}

.navbar ul li {
  display: block;
  padding: 10px;
  list-style-type: none;
}

.navbar a {
  text-decoration: none;
}
